@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body{
  margin: 0;
  padding: 0;
}
.likedsongs{
  display: none;
  width: 90%;
  margin: auto;

}
button:hover{
  cursor: pointer;
}
.dislikedsongs{
  display: none;
  width: 90%;
  margin: auto;
}
.all-display {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 2rem;
  text-align: center;
  justify-content: center;
  width: 70%;
  padding-top: 2rem;
margin: auto;
}
.dislikeds {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 2rem;
  margin: 2rem;
  padding-top: 2rem;
}

.likeds {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 2rem;
  margin: 2rem;
  padding-top: 2rem;
}
.head{

  font-size: 2rem;
}
h2 {
  text-align: center;
  color: rgb(255, 255, 255);

  font-family: "Montserrat", sans-serif;
}
.special {
  margin: auto;
  transition: 0.2s;
}
.b:hover svg {
  fill: #1db954;
}
.b:hover{
  color: #1db954;
  font-size: 1.6rem;
}
.removed {
  fill: #1db954;
  margin: auto;
  display: block;
  margin-top: 1.5rem;
  width: 3rem;

}
.removed:hover {
  fill: rgb(248, 109, 109);
}

.removel {
  fill: #1db954;
  margin: auto;
  display: block;
  margin-top: 1.5rem;
  width: 3rem;

}
.removel:hover {
  fill: rgb(248, 109, 109);
}
.b {
  text-align: left;
  transition: 0.2s;

}
.heart {
  fill: white;
  width: 1.5rem;
  margin-right: 1rem;
}
.heart:hover {
  opacity: 1;
}
.albums {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 15rem;
}
.sidenav {
  height: auto;
  padding-left: 2rem;
  padding-top: 6rem;
  background-color: rgb(57, 57, 57);
  flex-direction: column;
  display: flex;
  width: 20%;
  margin-right: 1rem;
}
.zzz{
  transition: all 0.2s;
  margin-top: 0px;
  margin-bottom: 2rem;
  padding: 10px;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.lsongs {
  transition: all 0.8s;
  margin-top: 0px;
  margin-bottom: 2rem;
  padding: 10px;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.dsongs {
  transition: all 0.8s;
  margin-top: 0px;
  margin-bottom: 2rem;
  padding: 10px;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.liked-display {
  display: grid;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 3rem;
  text-align: center;
  justify-content: center;
}
.icons {
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
svg {
  width: 1.5rem;
  transition: 0.2s;
}
svg:hover {
  opacity: 0.7;
}
.refresh {
  fill: #53d280;
}
.up {
  fill: #7289da;
}
.down {
  fill: rgb(248, 109, 109);
}
.body {
  background-color: #d8d4d4;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    rgb(97, 97, 97) 0%,
    rgb(57, 57, 57) 100%
  );
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.album-card {
  padding-top: 2rem;
  width: 18rem;
  margin: auto;
  justify-content: center;
  border-radius: 1.1rem;
  height: 30rem;
  margin-top: 0.5rem;

  background-color: #252525;
}
img {
  border-radius: 1rem;
  width: 80%;
  justify-self: center;
  margin: auto;
  display: block;
}
.name {
  font-size: 1.7rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.artist {
  font-size: 1.2rem;
  color: white;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}
.text-group {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button {
  background: none;
  border: none;
}
.button {
  border: none;
  padding: 5px 18px 5px 18px;
  background-color: #1db954;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 2rem;
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 2rem;
  transition: 0.3s;
}
.button:hover{
  opacity: 0.8;

}